:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --font-color: #34495e;
    --border-color: #bdc3c7;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    text-align: center;
}

h1 {
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: 1.2rem;
}

main {
    padding: 2rem;
}

.filters {
    margin-bottom: 2rem;
    text-align: center;
}

input {
    padding: 0.8em;
    margin: 0.5em;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    background-color: white;
}

tr {
    border-bottom: 1px solid var(--border-color);
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

th, td {
    padding: 1rem;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

th.sort-asc::after {
    content: ' ▲';
}

th.sort-desc::after {
    content: ' ▼';
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#back-to-top:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    th, td {
        padding: 0.5rem;
    }
}